:root {
    --color-amarillo: #ffb800;
    --color-plomo: #aeaeae;
}

.container-title {
    background-image: url("../../public/images/bg-black-curve.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px 0px 140px 0px;
}

.container-title h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
}

.container-title h2 span {
    color: var(--color-amarillo);
}

.container-title p {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    color: var(--color-plomo);
}

.container-portada {
    margin-top: -11%;
}

.container-portada img {
    width: 55%;
}

.subtitlo{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #1d1d1d;
}

.icon-star-subtitulo-fa-sm{
    font-size: 16px;
    margin-bottom: 0.5%;
    margin-right: 1.5%;
    color: var(--color-amarillo);
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 6% 0px 8% 5%;
}

.icon-circle-fa-xs {
    font-size: 9px;
    margin-bottom: 0.5%;
    color: var(--color-amarillo);
}

.icon-star-fa-xs{
    font-size: 12px;
    margin-bottom: 0.5%;
    color: var(--color-amarillo);
}

ul li p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: rgba(33, 37, 41, 0.8);
}

ul li p span{
    font-weight: 700;
}

/* formulario */
.seccion-form {
    margin-top: 9%;
}

.seccion-form .titulo-seccion {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 2px;
    color: rgba(33, 37, 41, 0.8);
}

.intl-tel-input, .iti {
    width: 100%;
}

.seccion-form .bold-terminos {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(33, 37, 41, 0.8);
    margin-bottom: 0px;
}

.seccion-form .normal-terminos {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(33, 37, 41, 0.8);
    margin-bottom: 0px;
}

.pie-pagina{
    background-color: black;
    padding-top: 4%;
    padding-bottom: 4%;
}

.pie-pagina .container-101-digital img{
    height: 60px;
    filter: sepia(0) grayscale(1) brightness(1) blur(0px) contrast(1) invert(0) saturate(1);
    opacity: 0.48;
}

.pie-pagina .container-stripe img{
    height: 60px;
    opacity: 0.3;
    filter: sepia(0) grayscale(0) brightness(1) blur(0px) contrast(1) invert(1) saturate(1);
}

.pie-pagina .container-paypal img{
    height: 60px;
    filter: sepia(0) grayscale(1) brightness(3) blur(0px) contrast(1) invert(0) saturate(1);
    opacity: 0.3;
}

.pie-pagina .container-gogo img{
    height: 60px;
    filter: sepia(0) grayscale(0) brightness(1) blur(0) contrast(1) invert(0) saturate(1);
}

@media screen and (max-width: 720px) {
    .container-title h2 {
        font-size: 43px;
    }

    .container-title p {
        font-size: 20px;
    }
    
    .container-portada {
        margin-top: -24%;
    }
    
    .container-portada img {
        width: 80%;
    }

    
}